<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcos.lc4e.core.database.dao.AreaBlockMapper" >
  <resultMap id="BaseResultMap" type="com.jcos.lc4e.core.database.model.AreaBlock" >
    <id column="intId" property="intid" jdbcType="INTEGER" />
    <result column="intBlockedAreaId" property="intblockedareaid" jdbcType="INTEGER" />
    <result column="intUserGroupId" property="intusergroupid" jdbcType="INTEGER" />
    <result column="dateCreateTime" property="datecreatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    intId, intBlockedAreaId, intUserGroupId, dateCreateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from l4_areablock
    where intId = #{intid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from l4_areablock
    where intId = #{intid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jcos.lc4e.core.database.model.AreaBlock" >
    insert into l4_areablock (intId, intBlockedAreaId, intUserGroupId, 
      dateCreateTime)
    values (#{intid,jdbcType=INTEGER}, #{intblockedareaid,jdbcType=INTEGER}, #{intusergroupid,jdbcType=INTEGER}, 
      #{datecreatetime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.jcos.lc4e.core.database.model.AreaBlock" >
    insert into l4_areablock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intid != null" >
        intId,
      </if>
      <if test="intblockedareaid != null" >
        intBlockedAreaId,
      </if>
      <if test="intusergroupid != null" >
        intUserGroupId,
      </if>
      <if test="datecreatetime != null" >
        dateCreateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intid != null" >
        #{intid,jdbcType=INTEGER},
      </if>
      <if test="intblockedareaid != null" >
        #{intblockedareaid,jdbcType=INTEGER},
      </if>
      <if test="intusergroupid != null" >
        #{intusergroupid,jdbcType=INTEGER},
      </if>
      <if test="datecreatetime != null" >
        #{datecreatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcos.lc4e.core.database.model.AreaBlock" >
    update l4_areablock
    <set >
      <if test="intblockedareaid != null" >
        intBlockedAreaId = #{intblockedareaid,jdbcType=INTEGER},
      </if>
      <if test="intusergroupid != null" >
        intUserGroupId = #{intusergroupid,jdbcType=INTEGER},
      </if>
      <if test="datecreatetime != null" >
        dateCreateTime = #{datecreatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where intId = #{intid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcos.lc4e.core.database.model.AreaBlock" >
    update l4_areablock
    set intBlockedAreaId = #{intblockedareaid,jdbcType=INTEGER},
      intUserGroupId = #{intusergroupid,jdbcType=INTEGER},
      dateCreateTime = #{datecreatetime,jdbcType=TIMESTAMP}
    where intId = #{intid,jdbcType=INTEGER}
  </update>
</mapper>