<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcos.lc4e.core.database.dao.CommentsMapper" >
  <resultMap id="BaseResultMap" type="com.jcos.lc4e.core.database.model.Comments" >
    <id column="intCommentId" property="intcommentid" jdbcType="INTEGER" />
    <result column="intArticleId" property="intarticleid" jdbcType="VARCHAR" />
    <result column="intCommentTitle" property="intcommenttitle" jdbcType="VARCHAR" />
    <result column="intCommentContent" property="intcommentcontent" jdbcType="VARCHAR" />
    <result column="intUserId" property="intuserid" jdbcType="INTEGER" />
    <result column="isHide" property="ishide" jdbcType="INTEGER" />
    <result column="isDeleted" property="isdeleted" jdbcType="INTEGER" />
    <result column="dateCreateTime" property="datecreatetime" jdbcType="TIMESTAMP" />
    <result column="dateModifiedTime" property="datemodifiedtime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    intCommentId, intArticleId, intCommentTitle, intCommentContent, intUserId, isHide, 
    isDeleted, dateCreateTime, dateModifiedTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from l4_comments
    where intCommentId = #{intcommentid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from l4_comments
    where intCommentId = #{intcommentid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jcos.lc4e.core.database.model.Comments" >
    insert into l4_comments (intCommentId, intArticleId, intCommentTitle, 
      intCommentContent, intUserId, isHide, 
      isDeleted, dateCreateTime, dateModifiedTime
      )
    values (#{intcommentid,jdbcType=INTEGER}, #{intarticleid,jdbcType=VARCHAR}, #{intcommenttitle,jdbcType=VARCHAR}, 
      #{intcommentcontent,jdbcType=VARCHAR}, #{intuserid,jdbcType=INTEGER}, #{ishide,jdbcType=INTEGER}, 
      #{isdeleted,jdbcType=INTEGER}, #{datecreatetime,jdbcType=TIMESTAMP}, #{datemodifiedtime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jcos.lc4e.core.database.model.Comments" >
    insert into l4_comments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intcommentid != null" >
        intCommentId,
      </if>
      <if test="intarticleid != null" >
        intArticleId,
      </if>
      <if test="intcommenttitle != null" >
        intCommentTitle,
      </if>
      <if test="intcommentcontent != null" >
        intCommentContent,
      </if>
      <if test="intuserid != null" >
        intUserId,
      </if>
      <if test="ishide != null" >
        isHide,
      </if>
      <if test="isdeleted != null" >
        isDeleted,
      </if>
      <if test="datecreatetime != null" >
        dateCreateTime,
      </if>
      <if test="datemodifiedtime != null" >
        dateModifiedTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intcommentid != null" >
        #{intcommentid,jdbcType=INTEGER},
      </if>
      <if test="intarticleid != null" >
        #{intarticleid,jdbcType=VARCHAR},
      </if>
      <if test="intcommenttitle != null" >
        #{intcommenttitle,jdbcType=VARCHAR},
      </if>
      <if test="intcommentcontent != null" >
        #{intcommentcontent,jdbcType=VARCHAR},
      </if>
      <if test="intuserid != null" >
        #{intuserid,jdbcType=INTEGER},
      </if>
      <if test="ishide != null" >
        #{ishide,jdbcType=INTEGER},
      </if>
      <if test="isdeleted != null" >
        #{isdeleted,jdbcType=INTEGER},
      </if>
      <if test="datecreatetime != null" >
        #{datecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="datemodifiedtime != null" >
        #{datemodifiedtime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcos.lc4e.core.database.model.Comments" >
    update l4_comments
    <set >
      <if test="intarticleid != null" >
        intArticleId = #{intarticleid,jdbcType=VARCHAR},
      </if>
      <if test="intcommenttitle != null" >
        intCommentTitle = #{intcommenttitle,jdbcType=VARCHAR},
      </if>
      <if test="intcommentcontent != null" >
        intCommentContent = #{intcommentcontent,jdbcType=VARCHAR},
      </if>
      <if test="intuserid != null" >
        intUserId = #{intuserid,jdbcType=INTEGER},
      </if>
      <if test="ishide != null" >
        isHide = #{ishide,jdbcType=INTEGER},
      </if>
      <if test="isdeleted != null" >
        isDeleted = #{isdeleted,jdbcType=INTEGER},
      </if>
      <if test="datecreatetime != null" >
        dateCreateTime = #{datecreatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="datemodifiedtime != null" >
        dateModifiedTime = #{datemodifiedtime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where intCommentId = #{intcommentid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcos.lc4e.core.database.model.Comments" >
    update l4_comments
    set intArticleId = #{intarticleid,jdbcType=VARCHAR},
      intCommentTitle = #{intcommenttitle,jdbcType=VARCHAR},
      intCommentContent = #{intcommentcontent,jdbcType=VARCHAR},
      intUserId = #{intuserid,jdbcType=INTEGER},
      isHide = #{ishide,jdbcType=INTEGER},
      isDeleted = #{isdeleted,jdbcType=INTEGER},
      dateCreateTime = #{datecreatetime,jdbcType=TIMESTAMP},
      dateModifiedTime = #{datemodifiedtime,jdbcType=TIMESTAMP}
    where intCommentId = #{intcommentid,jdbcType=INTEGER}
  </update>
</mapper>