<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcos.lc4e.core.database.dao.LocationsMapper" >
  <resultMap id="BaseResultMap" type="com.jcos.lc4e.core.database.model.Locations" >
    <id column="intLocationId" property="intlocationid" jdbcType="INTEGER" />
    <result column="intProvinceId" property="intprovinceid" jdbcType="INTEGER" />
    <result column="intCityId" property="intcityid" jdbcType="INTEGER" />
    <result column="intAreaId" property="intareaid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    intLocationId, intProvinceId, intCityId, intAreaId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from l4_locations
    where intLocationId = #{intlocationid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from l4_locations
    where intLocationId = #{intlocationid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jcos.lc4e.core.database.model.Locations" >
    insert into l4_locations (intLocationId, intProvinceId, intCityId, 
      intAreaId)
    values (#{intlocationid,jdbcType=INTEGER}, #{intprovinceid,jdbcType=INTEGER}, #{intcityid,jdbcType=INTEGER}, 
      #{intareaid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.jcos.lc4e.core.database.model.Locations" >
    insert into l4_locations
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intlocationid != null" >
        intLocationId,
      </if>
      <if test="intprovinceid != null" >
        intProvinceId,
      </if>
      <if test="intcityid != null" >
        intCityId,
      </if>
      <if test="intareaid != null" >
        intAreaId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intlocationid != null" >
        #{intlocationid,jdbcType=INTEGER},
      </if>
      <if test="intprovinceid != null" >
        #{intprovinceid,jdbcType=INTEGER},
      </if>
      <if test="intcityid != null" >
        #{intcityid,jdbcType=INTEGER},
      </if>
      <if test="intareaid != null" >
        #{intareaid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcos.lc4e.core.database.model.Locations" >
    update l4_locations
    <set >
      <if test="intprovinceid != null" >
        intProvinceId = #{intprovinceid,jdbcType=INTEGER},
      </if>
      <if test="intcityid != null" >
        intCityId = #{intcityid,jdbcType=INTEGER},
      </if>
      <if test="intareaid != null" >
        intAreaId = #{intareaid,jdbcType=INTEGER},
      </if>
    </set>
    where intLocationId = #{intlocationid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcos.lc4e.core.database.model.Locations" >
    update l4_locations
    set intProvinceId = #{intprovinceid,jdbcType=INTEGER},
      intCityId = #{intcityid,jdbcType=INTEGER},
      intAreaId = #{intareaid,jdbcType=INTEGER}
    where intLocationId = #{intlocationid,jdbcType=INTEGER}
  </update>
</mapper>