<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcos.lc4e.core.database.dao.LogNameMapper" >
  <resultMap id="BaseResultMap" type="com.jcos.lc4e.core.database.model.LogName" >
    <id column="intLogNameId" property="intlognameid" jdbcType="INTEGER" />
    <result column="strLogNameAbbr" property="strlognameabbr" jdbcType="VARCHAR" />
    <result column="strLogName" property="strlogname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    intLogNameId, strLogNameAbbr, strLogName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from l4_logname
    where intLogNameId = #{intlognameid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from l4_logname
    where intLogNameId = #{intlognameid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jcos.lc4e.core.database.model.LogName" >
    insert into l4_logname (intLogNameId, strLogNameAbbr, strLogName
      )
    values (#{intlognameid,jdbcType=INTEGER}, #{strlognameabbr,jdbcType=VARCHAR}, #{strlogname,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.jcos.lc4e.core.database.model.LogName" >
    insert into l4_logname
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intlognameid != null" >
        intLogNameId,
      </if>
      <if test="strlognameabbr != null" >
        strLogNameAbbr,
      </if>
      <if test="strlogname != null" >
        strLogName,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intlognameid != null" >
        #{intlognameid,jdbcType=INTEGER},
      </if>
      <if test="strlognameabbr != null" >
        #{strlognameabbr,jdbcType=VARCHAR},
      </if>
      <if test="strlogname != null" >
        #{strlogname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcos.lc4e.core.database.model.LogName" >
    update l4_logname
    <set >
      <if test="strlognameabbr != null" >
        strLogNameAbbr = #{strlognameabbr,jdbcType=VARCHAR},
      </if>
      <if test="strlogname != null" >
        strLogName = #{strlogname,jdbcType=VARCHAR},
      </if>
    </set>
    where intLogNameId = #{intlognameid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcos.lc4e.core.database.model.LogName" >
    update l4_logname
    set strLogNameAbbr = #{strlognameabbr,jdbcType=VARCHAR},
      strLogName = #{strlogname,jdbcType=VARCHAR}
    where intLogNameId = #{intlognameid,jdbcType=INTEGER}
  </update>
</mapper>