<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jcos.lc4e.core.database.dao.UserMoneyMapper" >
  <resultMap id="BaseResultMap" type="com.jcos.lc4e.core.database.model.UserMoney" >
    <id column="intId" property="intid" jdbcType="INTEGER" />
    <result column="intUserId" property="intuserid" jdbcType="INTEGER" />
    <result column="douMoney" property="doumoney" jdbcType="DECIMAL" />
    <result column="dateModifiedTime" property="datemodifiedtime" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    intId, intUserId, douMoney, dateModifiedTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from l4_usermoney
    where intId = #{intid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from l4_usermoney
    where intId = #{intid,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.jcos.lc4e.core.database.model.UserMoney" >
    insert into l4_usermoney (intId, intUserId, douMoney, 
      dateModifiedTime)
    values (#{intid,jdbcType=INTEGER}, #{intuserid,jdbcType=INTEGER}, #{doumoney,jdbcType=DECIMAL}, 
      #{datemodifiedtime,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.jcos.lc4e.core.database.model.UserMoney" >
    insert into l4_usermoney
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="intid != null" >
        intId,
      </if>
      <if test="intuserid != null" >
        intUserId,
      </if>
      <if test="doumoney != null" >
        douMoney,
      </if>
      <if test="datemodifiedtime != null" >
        dateModifiedTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="intid != null" >
        #{intid,jdbcType=INTEGER},
      </if>
      <if test="intuserid != null" >
        #{intuserid,jdbcType=INTEGER},
      </if>
      <if test="doumoney != null" >
        #{doumoney,jdbcType=DECIMAL},
      </if>
      <if test="datemodifiedtime != null" >
        #{datemodifiedtime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.jcos.lc4e.core.database.model.UserMoney" >
    update l4_usermoney
    <set >
      <if test="intuserid != null" >
        intUserId = #{intuserid,jdbcType=INTEGER},
      </if>
      <if test="doumoney != null" >
        douMoney = #{doumoney,jdbcType=DECIMAL},
      </if>
      <if test="datemodifiedtime != null" >
        dateModifiedTime = #{datemodifiedtime,jdbcType=DATE},
      </if>
    </set>
    where intId = #{intid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.jcos.lc4e.core.database.model.UserMoney" >
    update l4_usermoney
    set intUserId = #{intuserid,jdbcType=INTEGER},
      douMoney = #{doumoney,jdbcType=DECIMAL},
      dateModifiedTime = #{datemodifiedtime,jdbcType=DATE}
    where intId = #{intid,jdbcType=INTEGER}
  </update>
</mapper>